.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1/e08a8233f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/11/a0729c2bf94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/16/c0cdf02ef94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/47/20a1d25af94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/66/60916394f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/7a/604ee46ff94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/82/d0b39a8ef94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/8e/a0869e38f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/9c/90506a8af94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/df/e0e4aa92f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/e8/60090b61f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/ef/c08e4e6af94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/f0/20793859f94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.history/f4/c00d3c7bf94b00131d57e5da3fed193f
.metadata/.plugins/org.eclipse.core.resources/.projects/MyRecipeBook/.indexes/e4/81/5b/dd/96/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyRecipeBook/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyRecipeBook/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/1289422975.index
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
.metadata
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/MyRecipeBook/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyRecipeBook/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/1289422975.index
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
